<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> BOBAXIXIXI </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container rounded w-75 p-5 my-3">
    <div class="card m-4 p-4 border border-warning">
        <div class="card-body">
            <div class="justify-content-center align-content-center">
                <h1 class="font-weight-bold" style="color: #62433E; text-align: center" th:text="'Store successfully updated for Boba Tea' + ${namaBoba} + '!'"></h1>
                <br> <br>
                <a class="text-warning " th:href="@{/boba/}">⟵ Back to List of Boba Tea</a>
                <br> <br>
                <h3 class="font-weight-bold" style="color: #62433E; text-align: center">List of Store</h3>
                <br>
                <table class="table table-striped" style="width: 80%; margin-left: auto; margin-right: auto;">
                    <thead>
                    <tr class="text-white" style="text-align: center; background-color: #62433E">
                        <th>Store Code</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Operational Hour</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sb : ${listStoreBoba}" style="text-align: center" >
                        <td th:text="${sb.store.storeCode}"></td>
                        <td th:text="${sb.store.namaStore}"></td>
                        <td th:text="${sb.store.alamatStore}"></td>
                        <td th:text="${sb.store.openHour} + ' - ' + ${sb.store.closeHour}"></td>
                    </tr>
                    </tbody>
                </table>
                <br><br>
            </div>
        </div>
    </div>
</div>

</body>

</html>