<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> BOBAXIXIXI </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container rounded w-75 p-5 my-3">
    <div class="card m-4 p-4 border border-warning">
        <div class="card-body">
            <div class="justify-content-center">
                <h1 class="font-weight-bold" style="color: #62433E; text-align: center" th:text="'Add ' + ${namaBoba} + ' to Store'"></h1>
                <br> <br>

                <div th:if="*{listStore.size() != 0}">
                    <form th:action="@{'/boba/' + ${boba.idBobaTea} + '/assign-store/'}" th:object="${boba}" method="POST">
                        <input type="hidden" th:field="${boba.idBobaTea}">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>   </th>
                                    <th>Store Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Operational Hour</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="store : ${listStore}">
                                    <td>
                                        <input class="form-check-input" type="checkbox"
                                               th:name="storeChecked"
                                               th:value="${store.idStore}">
                                    </td>
                                    <td th:text="${store.storeCode}"></td>
                                    <td th:text="${store.namaStore}"></td>
                                    <td th:text="${store.alamatStore}"></td>
                                    <td th:text="${store.openHour} + ' - ' + ${store.closeHour}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right; padding-right: 15px"><a class="mx-1 btn btn-outline-secondary" style="width: 100px" th:href="@{/boba}">Cancel</a></td>
                                    <td style="text-align: left; padding-left: 15px"><button class="mx-1 btn" style="color: white; background-color: #62433E; width: 100px" type="submit">Confirm</button></td>
                                </tr>
                                </tbody>
                            </table>

                    </form>
                </div>
                <div th:unless="*{listStore.size() != 0}">
                    <h2 th:text="'No store available.'"></h2>
                    <br> <br> <br>
                    <a class="text-warning" th:href="@{/store/} + ${store.idStore}">⟵ Back to Store Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>