<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> BOBAXIXIXI </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-sm rounded w-75 p-5 my-3">
    <div class="card m-4 p-4 border border-warning">
        <div class="card-body">
            <div class="justify-content-center">
                <h1 class="font-weight-bold" style="color: #62433E; text-align: center">List of Store</h1>
                <br> <br>
                <a th:href="@{/store/add}" class="mx-2 btn" style="color: white; background-color: #EF974F; width: 150px">+ Add Store</a>
                <br> <br>
                <table class="table table-striped">
                    <thead>
                    <tr class="text-white" style="text-align: center; background-color: #62433E" >
                        <th>No</th>
                        <th>Store Code</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Operational Hour</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="store, iterationStatus : ${listStore}" style="text-align: center">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${store.storeCode}"></td>
                        <td th:text="${store.namaStore}"></td>
                        <td th:text="${store.alamatStore}"></td>
                        <td th:text="${store.openHour} + ' - ' + ${store.closeHour}"></td>
                        <td>
                            <a class="btn btn-sm btn-info" th:href="@{/store/} + ${store.idStore}">View</a>
                            <a class="btn btn-sm btn-warning" th:href="@{/store/update/} + ${store.idStore}">Update</a>
                            <a class="btn btn-sm btn-danger" th:href="@{/store/delete/} + ${store.idStore}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>